# docker-compose.yml
version: "3.8"
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.14.0
    environment:
      - discovery.type=single-node
    ports:
      - 9200:9200
    networks:
      default:
        aliases:
          - elasticsearch

  # fastapi:
  #   build: ./backend
  #   ports:
  #     - 8000:8000
  #   depends_on:
  #     - elasticsearch

  # react:
  #   build: ./frontend
  #   ports:
  #     - 3000:3000
