.TextField {
  border-radius: 10px;
  height: 30px;
  width: 200px;
  margin: 0px 20px;
  border: 1px solid black;
  outline: 0;
  padding: 0px 10px;
}

.TextField:focus-visible {
  outline: 0;
}

.ForgotPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(80vh);
}

.ResetPassword {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.ResetPassword button {
  height: 35px;
  width: 200px;
  text-transform: uppercase;
  font-family: Ubuntu;
  font-size: 17px;
  cursor: pointer;
  background-color: rgb(214, 94, 9);
  border: 1px solid black;
  color: white;
  border-radius: 5px;
}

.LoginMessage {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 500;
  color: rgb(0, 89, 255);
  cursor: pointer;
}

.LoginMessage:hover {
  text-decoration: underline;
}
